* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: 'Mulish';
}

@font-face {
    font-family: 'Mulish';
    src: url('./fonts/Mulish-Bold.ttf') format('truetype'),
        url('./fonts/Mulish-ExtraBold.ttf') format('truetype'),
        url('./fonts/Mulish-Regular.ttf') format('truetype'),
        url('./fonts/Mulish-Medium.ttf') format('truetype');
}

body {
    width: 1120px;
    margin: 0 auto;
    background: #F5F5F5;

}

/* header */
header .img-logo {
    width: 124px;
    height: 38px;
    background-image: url(./assets/Course\ topics.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background: #F5F5F5;
    position: fixed;
    width: 1120px;
    margin: 0 auto;
    top: 0;
}

header .btn {
    background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
    border-radius: 33px;
    font: 700 16px 'Mulish';
    color: #FFFFFF;
    width: 147px;
    text-align: center;
    padding: 15px 0;
}

header nav {
    display: flex;
}

header nav p {
    margin-right: 35px;

}

header nav p:not(:last-child) {
    margin-right: 35px;
}

/* main */
.introductory .img-video {
    background-image: url(./assets/Group\ 7.svg);
    background-repeat: no-repeat;
    width: 590px;
    height: 360px;
    background-size: contain;
    position: relative;
    left: 120px;

}

.introductory {
    display: flex;
    justify-content: space-between;
    margin-top: 250px;
}

.introductory h1 {
    font: 800 60px 'Mulish';
    color: #001A49;
}

.introductory p {
    font: 400 20px 'Mulish';
    color: #4F596A;
    margin-top: 35px;
}

.introductory .btn {
    background: linear-gradient(44.11deg, #8FBBE6 15.75%, #3D75BF 84.63%);
    border-radius: 33px;
    width: 206px;
    padding: 19px 0;
    font: 700 20px normal;
    color: #FFFFFF;
    text-align: center;
    margin-top: 35px;
}

/* section statistics */

.statistics h2 {
    font: 800 40px 'Mulish';
    color: #001A49;
}

.statistics p {
    font: 400 16px 'Mulish';
    color: #001A49;
}

.statistics .wrapper {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #E7EAEB;
    height: 172px;
    align-items: center;
    position: relative;
    z-index: 2;
}

.statistics .wrapper div {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 373px;

}

.statistics .img-side {

    background-image: url(./assets/Side.svg);
    background-repeat: no-repeat;
    width: 288px;
    height: 288px;
    background-size: contain;
    position: absolute;
    left: -100px;
    z-index: 1;
}

.statistics .wrapper div:not(:last-child) {
    border-right: 1px solid #E7EAEB;
}

/* advantage */
.advantage {
    margin-top: 194px;
    margin-bottom: 189px;
}

.advantage h1 {
    font: 800 46px 'Mulish';
    color: #001A49;
    text-align: center;
}

.advantage p {
    font: 400 20px 'Mulish';
    color: #4F596A;
    text-align: center;

}


.advantage div h3 {
    font: 800 24px 'Mulish';
    color: #001A49;
    text-align: left;
}

.advantage div p {
    font: 400 16px 'Mulish';
    color: #001A49;
    text-align: left;
}

.advantage .akt,
.advantage .all,
.advantage .min,
.advantage .max {
    width: 1120px;
    height: 172px;
    background: #EEF7FF;
    border-radius: 21px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}


.advantage .img-oval {
    background-image: url(./assets/Group\ 8.svg);
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    background-size: contain;
    display: flex;
    justify-content: center;
    margin: 0 20px 0 20px;
}

/* entry */
.entry {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 122px;
}

.entry .img-marico {
    background-image: url(./assets/Marico.svg);
    width: 153px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
}

.entry h1 {
    font: 800 50px 'Mulish';
    color: #001A49;
    text-align: center;

}

.entry .btn {
    background: linear-gradient(44.11deg, #8FBBE6 15.75%, #3D75BF 84.63%);
    border-radius: 33px;
    width: 206px;
    padding: 19px 0;
    font: 700 20px normal;
    color: #FFFFFF;
    text-align: center;
    margin-top: 35px;
    text-align: center;
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 125px;
    margin-top: 149px;
}

footer p {
    font: 500 32px 'Poppins';
    color: #707070;
}

footer .name {
    flex-direction: column;

}

footer .name p {
    font: 500 32px 'Poppins';
    color: #707070;
}

footer .name h3 {
    font: 800 37px 'Mulish';
    color: #001A49;
}

footer .img-marico {
    background-image: url(./assets/Marico.svg);
    width: 79px;
    height: 56px;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width:600px) {
    body {
        width: 600px;
    }

    header {
        width: 600px;
    }

    header nav {
        display: none;
    }

    .introductory {
        margin-top: 100px;

    }

    .introductory .info h1 {
        font-size: 30px;

    }

    .introductory .info .btn {
        margin: auto;
    }

    .introductory .info p {
        text-align: center;
    }

    .introductory .img-video {
        display: none;
    }

    .statistics .img-side {
        display: none;
    }

    .statistics .wrapper {
        flex-direction: column;
        background-color: #F5F5F5;
        border-width: 0;
        align-items: center;
    }

    .statistics .wrapper div:not(:last-child) {
        border-width: 0;
    }

    .advantage {
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .advantage div {
        width: 600px;
        align-items: center;

    }



    .advantage h1 {
        font: 500 22px "Mulish";
    }

    .entry {
        margin-top: 10px;
    }

    .entry .img-marico {
        width: 76px;
        height: 50px;
        align-items: center;
    }

    .entry h1 {
        font: 500 20px 'Mulish';
        text-align: center;
    }

    .advantage .akt,
    .advantage .all,
    .advantage .min,
    .advantage .max {
        width: 600px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    footer {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    footer .img-marico {
        width: 40px;
        height: 28px;
    }

    footer .name h3 {
        font-size: 20px;
    }

    footer p {
        font-size: 16px;
    }

    footer .name p {
        font-size: 16px;
    }
}